<div class="grid-block small-up-1 medium-up-2 large-up-3">
    <div>
        <div class="card">
            <img src="img/ggc_presentation.png">
            <div class="card-section">
                <h2>
                    Is your webpage accessible for all users?
                    <small>Presentation at Geek Girls Carrots (PL)</small>
                </h2>
                <p>
                    Presentation about webpage accessibility - which parts of page require special attention, how disabled people
                    use webpages and how to test your own site.
                </p>
                <a href="web accessibility/index.html" title="Czy Twoja strona jest dostępna dla wszystkich użytkowników?">Have a look</a>
            </div>
        </div>
    </div>
</div>